@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "serif";
}

.wrapper {
  overflow-x: hidden;
}

/* nav */
.custom-navbar {
  padding: 0 20px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-navbar .logo {
  width: 100px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
}

.rightside .links {
  display: flex;
  align-items: center;
}

.links .cart-div{
  margin-right: 10px;
}

.links .cart-div .cart-link {
  color: #6a6a6a;
  position: relative;
}

.cart-link .items-indicator{
  background-color: #db0606;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 9px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
}

.links .cart-div .cart-link.active,
.links .cart-div .cart-link:hover {
  color: #db0606;
}

.custom-navbar .rightside .auth-link {
  color: #db0606;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

/* custom dropdown */
.relative-div {
  position: relative;
  margin-left: 10px;
}

.relative-div .user-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db0606;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 15px;
}

.relative-div .custom-profile-dropdown {
  width: 200px;
  position: absolute;
  top: 60px;
  right: -10px;
  padding: 10px 20px;
  background-color: #fff;
  box-sizing: 0 5px 25px rgb(0 0 0 / 10%);
  border-radius: 15px;
  transition: 0.5s;
  border: 1px solid #e4e4e4;
  visibility: hidden;
  opacity: 0;
  height: fit-content;
}

.relative-div .custom-profile-dropdown.active {
  visibility: visible;
  opacity: 1;
}

.relative-div .custom-profile-dropdown::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 24px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}

.custom-profile-dropdown h3.menu-name {
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 600;
  line-height: 1.2em;
  color: #db0606;
  border-bottom: 1px solid #e4e4e4;
}

.custom-profile-dropdown .menu-items-div {
  width: 100%;
}

.menu-items-div .menu-item {
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  font-size: 13px;
  text-align: left;
}

.menu-item .menu-item-link {
  color: #6a6a6a;
  text-decoration: none;
}

.menu-item .menu-item-link:hover,
.menu-item .menu-item-link.active {
  color: #db0606;
}

.border-top {
  width: 100%;
  border-top: 1px solid #e4e4e4;
}

.menu-item.logout {
  color: #6a6a6a;
  border: none;
  outline: none;
  background-color: transparent;
}

/* about */
.about-section {
  background-color: #001435;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.about-section h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.about-section p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  width: 70%;
}

@media (max-width: 768px) {
  .about-section {
    padding: 40px;
  }
  .about-section p {
    width: 80%;
  }
}

@media (max-width: 540px) {
  .about-section {
    padding: 30px;
  }
  .about-section p {
    width: 100%;
  }
}

/* products */
.products-section {
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-section h2 {
  font-size: 32px;
  font-weight: 600;
}

.products-section h3 {
  margin-top: 7px;
  color: #6a6a6a;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.products-section .products-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.products-container .product-card {
  width: 250px;
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 3px -3px #0000001f;
  border: 1px solid #eaeaea;
}

@media (max-width: 540px) {
  .products-container .product-card {
    width: 100%;
  }
}

.product-card .product-img-div {
  width: 100%;
  height: 150px;
  padding: 5px;
}

.product-img-div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card p {
  padding: 15px;
  margin: 7px 0;
  font-size: 18px;
  font-weight: 500;
  height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
}

.product-card button {
  width: 100%;
  background-color: #db0606;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.09em;
  border: none;
  color: #fff;
}

/* footer */
.footer {
  background-color: #001435;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.footer h3 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
